# Web Scrapping: Used Cars Data
Extraction of tables for several types of car:
* Used
* km0
* Small
* Medium
* Big
* Familiar
* Minivan
* Offroad
* Sports
* Van

In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
from modules.car_scraping import webpages_generator, cars_links_generator, scrape_used_cars_data, scrape_renting_cars_data

In [2]:
# Declaring the url links
base_used_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-ocasion.htm?page='
base_km0_cars_url = 'https://www.coches.com/km0/coches-seminuevos.htm?page='

In [3]:
# Extract cars from all the types of cars
small_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-pequenos-segunda-mano.htm?page='
medium_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-medianos-segunda-mano.htm?page='
big_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-grandes-segunda-mano.htm?page='
familiar_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-familiares-segunda-mano.htm?page='
minivan_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-monovolumen-segunda-mano.htm?page='
offroad_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-4x4-todoterreno.htm?page='
sports_cars_url = 'https://www.coches.com/coches-segunda-mano/coches-deportivos-segunda-mano.htm?page='
van_cars_url = 'https://www.coches.com/coches-segunda-mano/furgonetas-segunda-mano.htm?page='

In [4]:
used_cars_pages = webpages_generator(base_used_cars_url, init_pages=0, n_pages=500)
km0_cars_pages = webpages_generator(base_km0_cars_url, init_pages=0, n_pages=500)

In [5]:
# Types of cars: webpages generators
small_cars_pages = webpages_generator(small_cars_url, init_pages=0, n_pages=141)
medium_cars_pages = webpages_generator(medium_cars_url, init_pages=0, n_pages=500)
big_cars_pages = webpages_generator(big_cars_url, init_pages=0, n_pages=500)
familiar_cars_pages = webpages_generator(familiar_cars_url, init_pages=0, n_pages=153)
minivan_cars_pages = webpages_generator(minivan_cars_url, init_pages=0, n_pages=425)
offroad_cars_pages = webpages_generator(offroad_cars_url, init_pages=0, n_pages=500)
sports_cars_pages = webpages_generator(sports_cars_url, init_pages=0, n_pages=286)
van_cars_pages = webpages_generator(van_cars_url, init_pages=0, n_pages=285)

In [6]:
# Initalize urls components:
used_cars_reg_exp = "https://.*/coches-segunda-mano/.*?id=|https://.*/km0/.*?id="
km0_cars_reg_exp = "https://.*/km0/.*?id="

Time to obtain all the cars when reading each webpage

In [7]:
used_cars_urls = cars_links_generator(used_cars_pages, reg_exp=used_cars_reg_exp)
used_cars_urls[-5:]

['https://www.coches.com/km0/seminuevo-kia-sportage-16-mhev-drive-4x2-136-en-burgos.htm?id=5505020',
 'https://www.coches.com/km0/seminuevo-subaru-forester-20i-hybrid-sport-plus-cvt-en-burgos.htm?id=5505080',
 'https://www.coches.com/km0/seminuevo-fiat-500x-10-firefly-s_s-120th-aniversario-en-burgos.htm?id=5505094',
 'https://www.coches.com/km0/seminuevo-kia-sportage-16-mhev-drive-4x2-136-en-burgos.htm?id=5505208',
 'https://www.coches.com/km0/seminuevo-hyundai-ioniq-hev-16-gdi-klass-en-burgos.htm?id=5505236']

In [8]:
km0_cars_urls = cars_links_generator(km0_cars_pages, reg_exp=km0_cars_reg_exp)
km0_cars_urls[-5:]

['https://www.coches.com/km0/seminuevo-volkswagen-polo-10-now-55kw-en-valencia.htm?id=5458888',
 'https://www.coches.com/km0/seminuevo-bmw-serie+1-116da-en-guadalajara.htm?id=5462054',
 'https://www.coches.com/km0/seminuevo-audi-a3-sportback-35-tfsi-black-line-s-tronic-110kw-en-barcelona.htm?id=5462658',
 'https://www.coches.com/km0/seminuevo-opel-combo-cargo-16td-l-1000-express-75-en-guipuzcoa.htm?id=5464704',
 'https://www.coches.com/km0/seminuevo-seat-arona-10-tsi-ecomotive-s_s-style-115-en-barcelona.htm?id=5465154']

In [10]:
# Types of cars
small_cars_urls = cars_links_generator(small_cars_pages, reg_exp=used_cars_reg_exp)

In [11]:
medium_cars_urls = cars_links_generator(medium_cars_pages, reg_exp=used_cars_reg_exp)

In [12]:
big_cars_urls = cars_links_generator(big_cars_pages, reg_exp=used_cars_reg_exp)

In [13]:
familiar_cars_urls = cars_links_generator(familiar_cars_pages, reg_exp=used_cars_reg_exp)

In [14]:
minivan_cars_urls = cars_links_generator(minivan_cars_pages, reg_exp=used_cars_reg_exp)

In [15]:
offroad_cars_urls = cars_links_generator(offroad_cars_pages, reg_exp=used_cars_reg_exp)

In [16]:
sports_cars_urls = cars_links_generator(sports_cars_pages, reg_exp=used_cars_reg_exp)

In [17]:
van_cars_urls = cars_links_generator(van_cars_pages, reg_exp=used_cars_reg_exp)

Cars will be scrapped separated into different sets

In [46]:
print(len(used_cars_urls), len(km0_cars_urls),
      len(small_cars_urls), len(medium_cars_urls), len(big_cars_urls),
      len(familiar_cars_urls), len(minivan_cars_urls), len(offroad_cars_urls),
      len(sports_cars_urls), len(van_cars_urls)
     )

10000 9998 2818 10000 10000 3060 8464 10000 5664 5694

In [ ]:
# Extracting the data
used_cars_data = scrape_used_cars_data(used_cars_urls)

print(used_cars_data[:5])
print(used_cars_data[-5:])

In [ ]:
# Replicating the process for km0 cars
km0_cars_data = scrape_used_cars_data(km0_cars_urls)

print(km0_cars_data[:5])
print(km0_cars_data[-5:])

Time to read the data for each type of car to conform the futures dataframes

In [ ]:
small_cars_data = scrape_used_cars_data(small_cars_urls)

print(small_cars_data[:5])
print(small_cars_data[-5:])

In [ ]:
medium_cars_data = scrape_used_cars_data(medium_cars_urls)

print(medium_cars_data[:5])
print(medium_cars_data[-5:])

In [ ]:
big_cars_data = scrape_used_cars_data(big_cars_urls)

print(big_cars_data[:5])
print(big_cars_data[-5:])

In [ ]:
familiar_cars_data = scrape_used_cars_data(familiar_cars_urls)

print(familiar_cars_data[:5])
print(familiar_cars_data[-5:])

In [ ]:
minivan_cars_data = scrape_used_cars_data(minivan_cars_urls)

print(minivan_cars_data[:5])
print(minivan_cars_data[-5:])

In [ ]:
offroad_cars_data = scrape_used_cars_data(offroad_cars_urls)

print(offroad_cars_data[:5])
print(offroad_cars_data[-5:])

In [ ]:
sports_cars_data = scrape_used_cars_data(sports_cars_urls)

print(sports_cars_data[:5])
print(sports_cars_data[-5:])

In [ ]:
van_cars_data = scrape_used_cars_data(van_cars_urls)

print(van_cars_data[:5])
print(van_cars_data[-5:])

Defining DataFrames:

In [30]:
cols_used = ['title', 'price', 'year', 'kms', 'city', 'year', 'doors', 'seats', 'power', 'color', 'co2_emiss', 'fuel_type', 'warranty', 'dealer',
           'chassis', 'height', 'length', 'width', 'trunk_vol', 'max_speed', 'urban_cons', 'xtrurban_cons', 'mixed_cons', 'weight', 'tank_vol', 'acceleration']

In [31]:
df_used = pd.DataFrame(used_cars_data, columns=cols_used).drop(0)
df_used.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Toyota Yaris Hsd 1.5 City,9.500€,2016,40.000 km,100 cv en Madrid,"Automática continua, secuencial",5 puertas,5,100 cv,Blanco,...,389 cm,170 cm,286 l,165 km/h,"3,1 l","3,3 l","3,3 l",1.025 kg,36 l,"11,8 s"
2,Mercedes Clase A A 35 Amg 4matic+ 7g-dct,43.890€,2019,24.000 km,306 cv en Salamanca,Automática secuencial,5 puertas,5,306 cv,Blanco,...,444 cm,180 cm,370 l,250 km/h,"9,3 l","6,1 l","7,3 l",1.555 kg,51 l,"4,7 s"
3,Mercedes Clase A A 250e 8g-dct,35.900€,2020,1.500 km,218 cv en Tenerife,Automática secuencial,5 puertas,5,218 cv,Gris,...,442 cm,180 cm,310 l,235 km/h,"0,0 l","0,0 l","1,4 l",1.680 kg,35 l,"6,6 s"
4,Volkswagen Polo 1.0 Tsi Sport 70kw,8.990€,2017,53.000 km,"95 cv en Palmas, Las",Manual,5 puertas,5,95 cv,Blanco,...,405 cm,175 cm,355 l,187 km/h,"5,5 l","4,0 l","4,6 l",1.145 kg,40 l,"10,8 s"
5,Dacia Sandero 1.0 Ambiance 55kw,5.990€,2018,33.600 km,"75 cv en Palmas, Las",Manual,5 puertas,5,75 cv,Blanco,...,406 cm,173 cm,320 l,0 km/h,"6,8 l","3,7 l","5,3 l",969 kg,50 l,"0,0 s"

In [32]:
df_km0 = pd.DataFrame(km0_cars_data, columns=cols_used).drop(0)
df_km0.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Mercedes Clase A A 250e 8g-dct,35.900€,2020,1.500 km,218 cv en Tenerife,Automática secuencial,5 puertas,5,218 cv,Gris,...,442 cm,180 cm,310 l,235 km/h,"0,0 l","0,0 l","1,4 l",1.680 kg,35 l,"6,6 s"
2,Smart Fortwo Coupé Eq,13.500€,2019,1.950 km,82 cv,Automática,3 puertas,2,82 cv,Rojo,...,270 cm,166 cm,230 l,130 km/h,"0,0 l","0,0 l","0,0 l",1.085 kg,0 l,"11,5 s"
3,Audi A4 35 Tdi S Line S Tronic 120kw,38.000€,01/2020,10 km,163 cv en Murcia,Automática secuencial,4 puertas,5,163 cv,Blanco ibis,...,476 cm,185 cm,460 l,228 km/h,"4,3 l","3,6 l","3,9 l",1.570 kg,54 l,"8,2 s"
4,Ford Fiesta 1.1 Ti-vct Trend,9.990€,2019,18 km,85 cv en Madrid,Manual,5 puertas,5,85 cv,Blanco,...,404 cm,174 cm,276 l,170 km/h,"6,1 l","3,9 l","4,0 l",1.091 kg,42 l,"14,0 s"
5,Audi A3 Sportback 30tdi S Line,25.800€,09/2020,2.500 km,116 cv en Badajoz,Manual,5 puertas,5,116 cv,Rojo,...,434 cm,182 cm,380 l,206 km/h,"4,0 l","3,3 l","3,6 l",1.420 kg,50 l,"10,1 s"

Types of cars: DataFrames

In [34]:
df_small = pd.DataFrame(small_cars_data, columns=cols_used).drop(0)
df_small.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Fiat 500 E 87kw Ñ-edition,19.200€,2016,32.500 km,118 cv en Burgos,"Directo, sin caja de cambios",3 puertas,4,118 cv,Gris,...,363 cm,168 cm,185 l,150 km/h,"0,0 l","0,0 l","0,0 l",980 kg,0 l,"9,0 s"
2,Fiat Panda 1.2 Pop,3.990€,2014,85.000 km,"69 cv en Palmas, Las",Manual,5 puertas,4,69 cv,Beige,...,365 cm,164 cm,225 l,164 km/h,"6,7 l","4,3 l","5,2 l",940 kg,37 l,"14,2 s"
3,Renault Twingo 1.2 16v Dynamique Eco2,3.750€,2009,26.000 km,75 cv en Barcelona,Manual,3 puertas,4,75 cv,Negro,...,360 cm,165 cm,230 l,170 km/h,"7,5 l","4,7 l","5,7 l",950 kg,40 l,"12,0 s"
4,Fiat 500 1.2 Glp Lounge,9.100€,2019,12.000 km,69 cv en Illes Balears,Manual,3 puertas,4,69 cv,Blanco,...,357 cm,163 cm,165 l,160 km/h,"9,2 l","5,9 l","7,1 l",865 kg,35 l,"12,9 s"
5,Opel Adam 1.4 Xel S&s Glam,8.300€,2018,10.700 km,87 cv en Granada,Manual,3 puertas,4,87 cv,Marrón,...,370 cm,172 cm,170 l,176 km/h,"6,6 l","4,2 l","5,1 l",1.120 kg,38 l,"12,5 s"

In [35]:
df_medium = pd.DataFrame(medium_cars_data, columns=cols_used).drop(0)
df_medium.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Toyota Yaris Hsd 1.5 City,9.500€,2016,40.000 km,100 cv en Madrid,"Automática continua, secuencial",5 puertas,5,100 cv,Blanco,...,389 cm,170 cm,286 l,165 km/h,"3,1 l","3,3 l","3,3 l",1.025 kg,36 l,"11,8 s"
2,Mercedes Clase A A 35 Amg 4matic+ 7g-dct,43.890€,2019,24.000 km,306 cv en Salamanca,Automática secuencial,5 puertas,5,306 cv,Blanco,...,444 cm,180 cm,370 l,250 km/h,"9,3 l","6,1 l","7,3 l",1.555 kg,51 l,"4,7 s"
3,Mercedes Clase A A 250e 8g-dct,35.900€,2020,1.500 km,218 cv en Tenerife,Automática secuencial,5 puertas,5,218 cv,Gris,...,442 cm,180 cm,310 l,235 km/h,"0,0 l","0,0 l","1,4 l",1.680 kg,35 l,"6,6 s"
4,Toyota Yaris 1.5 Active,8.800€,2017,59.841 km,111 cv en Cadiz,Manual,3 puertas,5,111 cv,Blanco,...,395 cm,170 cm,286 l,175 km/h,"6,5 l","4,3 l","5,1 l",1.045 kg,42 l,"11,0 s"
5,Honda Insight 1.3i-vtec Ima Elegance,6.500€,2011,114.000 km,98 cv en Malaga,Automática continua,5 puertas,5,98 cv,Gris,...,440 cm,170 cm,408 l,182 km/h,"4,6 l","4,2 l","4,4 l",1.204 kg,40 l,"12,5 s"

In [36]:
df_big = pd.DataFrame(big_cars_data, columns=cols_used).drop(0)
df_big.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Citroen Ds5 Ds5 Hybrid4 Airdream Design Cmp,13.999€,2014,99.000 km,200 cv en Madrid,Automática,5 puertas,5,200 cv,Azul,...,453 cm,187 cm,468 l,211 km/h,"2,9 l","3,5 l","3,3 l",1.735 kg,60 l,"8,6 s"
2,Skoda Superb 2.0tdi Adblue Active 110kw,15.400€,2018,46.461 km,150 cv en Ciudad Real,Manual,5 puertas,5,150 cv,Negro,...,486 cm,186 cm,625 l,220 km/h,"4,8 l","3,7 l","4,1 l",1.485 kg,66 l,"8,8 s"
3,Mercedes Clase E E 220d 9g-tronic 194,35.480€,01/2020,2.760 km,194 cv en Malaga,Automática secuencial,4 puertas,5,194 cv,Blanco,...,492 cm,185 cm,540 l,240 km/h,"6,0 l","3,2 l","4,5 l",1.715 kg,66 l,"7,3 s"
4,Audi A5 Sportback 2.0tdi 140kw,24.500€,2017,60.000 km,190 cv en Pontevedra,Automática,5 puertas,5,190 cv,Gris,...,473 cm,184 cm,480 l,238 km/h,"5,2 l","3,8 l","4,4 l",1.500 kg,54 l,"7,9 s"
5,Bmw Serie 5 530da,18.950€,2013,119.255 km,258 cv en Madrid,Automática secuencial,4 puertas,5,258 cv,Azul,...,491 cm,186 cm,520 l,250 km/h,"6,0 l","4,6 l","5,1 l",1.710 kg,70 l,"5,8 s"

In [38]:
df_fam = pd.DataFrame(familiar_cars_data, columns=cols_used).drop(0)
df_fam.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Seat Exeo St 2.0tdi Cr Style Ecomotive,4.950€,2013,208.000 km,120 cv en Girona,Manual,5 puertas,5,120 cv,Negro,...,467 cm,177 cm,442 l,197 km/h,"5,6 l","3,9 l","4,5 l",1.565 kg,70 l,"10,9 s"
2,Renault Clio Sport Tourer Tce Energy Limited 66kw,6.890€,2017,82.592 km,"90 cv en Palmas, Las",Manual,5 puertas,5,90 cv,Blanco,...,427 cm,173 cm,443 l,182 km/h,"5,6 l","3,9 l","4,5 l",1.055 kg,45 l,"12,2 s"
3,Mini Mini Clubman Cooper D,15.990€,2017,50.000 km,"150 cv en Palmas, Las",Manual,5 puertas,5,150 cv,Rojo,...,425 cm,180 cm,360 l,212 km/h,"4,8 l","3,7 l","4,1 l",1.320 kg,48 l,"8,6 s"
4,Mercedes Clase C C Estate 220d,19.475€,2016,59.128 km,170 cv en Sevilla,Manual,5 puertas,5,170 cv,Azul,...,470 cm,181 cm,470 l,230 km/h,"5,2 l","3,7 l","4,3 l",1.595 kg,66 l,"7,9 s"
5,Bmw Serie 3 328i Touring (4.75),20.990€,2013,99.000 km,245 cv en Madrid,Manual,5 puertas,5,245 cv,Azul,...,462 cm,181 cm,495 l,250 km/h,"9,2 l","5,5 l","6,8 l",1.500 kg,60 l,"6,0 s"

In [39]:
df_minivan = pd.DataFrame(minivan_cars_data, columns=cols_used).drop(0)
df_minivan.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Dacia Lodgy 1.2 Tce Laureate 7pl. 115,7.990€,2017,21.440 km,115 cv en Illes Balears,Manual,5 puertas,7,115 cv,Blanco,...,450 cm,175 cm,207 l,179 km/h,"6,6 l","4,8 l","5,5 l",1.205 kg,50 l,"10,6 s"
2,Mercedes Clase B B 180d,14.500€,2018,103.900 km,109 cv en Cadiz,Manual,5 puertas,5,109 cv,Negro,...,439 cm,179 cm,488 l,190 km/h,"4,3 l","3,6 l","4,0 l",1.420 kg,50 l,"11,6 s"
3,Citroen Berlingo Bluehdi S&s Talla M Live 100,15.500€,2019,6.307 km,100 cv en Sevilla,Manual,5 puertas,5,100 cv,Blanco,...,440 cm,185 cm,775 l,152 km/h,"4,8 l","4,0 l","4,1 l",1.635 kg,0 l,"0,0 s"
4,Ford C-max C-max 1.6 Ti-vct Trend 125,7.900€,2012,84.800 km,125 cv en Madrid,Manual,5 puertas,5,125 cv,Gris,...,438 cm,183 cm,432 l,188 km/h,"8,7 l","5,3 l","6,6 l",1.374 kg,55 l,"11,5 s"
5,Bmw Serie 2 218i Gran Tourer,17.400€,07/2018,52.321 km,140 cv en Valencia,Manual,5 puertas,5,140 cv,Azul,...,457 cm,180 cm,645 l,205 km/h,"6,9 l","4,8 l","5,6 l",1.420 kg,51 l,"9,5 s"

In [40]:
df_offroad = pd.DataFrame(offroad_cars_data, columns=cols_used).drop(0)
df_offroad.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Mini Countryman Mini Cooper Sd,11.390€,2011,96.284 km,143 cv en Madrid,Manual,5 puertas,5,143 cv,Gris,...,411 cm,179 cm,350 l,198 km/h,"5,2 l","4,3 l","4,6 l",1.320 kg,47 l,"9,3 s"
2,Ssangyong Korando G15 Urban 4x2,19.500€,2020,22.000 km,163 cv en Jaen,Manual,5 puertas,5,163 cv,Blanco,...,445 cm,187 cm,551 l,191 km/h,"7,1 l","3,8 l","5,5 l",1.405 kg,50 l,"0,0 s"
3,Hyundai Kona Hev 1.6 Gdi Dt Klass,20.280€,2020,NUEVO,141 cv en Madrid,Automática secuencial,5 puertas,5,141 cv,Negro,...,417 cm,180 cm,361 l,160 km/h,"0,0 l","0,0 l","0,0 l",1.376 kg,38 l,"11,2 s"
4,Ssangyong Korando G15 Line 4x2,19.800€,2021,200 km,163 cv en Jaen,Manual,5 puertas,5,163 cv,Gris,...,445 cm,187 cm,551 l,191 km/h,"7,1 l","3,8 l","5,5 l",1.405 kg,50 l,"0,0 s"
5,Renault Kadjar 1.3 Tce Gpf Zen 103kw,14.590€,03/2019,38.503 km,140 cv,Manual,5 puertas,5,140 cv,Negro,...,449 cm,184 cm,472 l,203 km/h,"7,4 l","5,0 l","5,9 l",1.442 kg,55 l,"10,4 s"

In [41]:
df_sports = pd.DataFrame(sports_cars_data, columns=cols_used).drop(0)
df_sports.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Smart Fortwo Cabrio 52 Mhd Pure Aut.,5.500€,2014,37.125 km,71 cv en Alicante,Automática,2 puertas,2,71 cv,Blanco,...,270 cm,156 cm,0 l,145 km/h,"4,6 l","4,0 l","4,3 l",780 kg,33 l,"13,7 s"
2,Volkswagen Scirocco 2.0 Tsi,10.900€,02/2009,0 km,200 cv en Barcelona,Manual,3 puertas,4,200 cv,Blanco,...,426 cm,181 cm,292 l,235 km/h,"9,9 l","6,1 l","7,6 l",1.373 kg,55 l,"7,2 s"
3,Bmw Serie 2 218da Gran Coupé,36.100€,02/2021,NUEVO,150 cv en Cantabria,Automática secuencial,4 puertas,5,150 cv,Saphirschwarz (metalizado),...,453 cm,180 cm,430 l,222 km/h,"5,4 l","2,9 l","4,2 l",1.545 kg,42 l,"8,5 s"
4,Bmw X4 Xdrive 20d,28.000€,2017,85.000 km,190 cv en Girona,Automática,5 puertas,5,190 cv,Blanco,...,467 cm,188 cm,500 l,212 km/h,"6,1 l","5,0 l","5,4 l",1.740 kg,67 l,"8,0 s"
5,Dodge Viper Srt-10,27.990€,2005,95.017 km,506 cv,Automática secuencial,2 puertas,2,506 cv,Rojo,...,446 cm,191 cm,0 l,0 km/h,"27,3 l","14,7 l","21,0 l",1.546 kg,70 l,"3,9 s"

In [42]:
df_van = pd.DataFrame(van_cars_data, columns=cols_used).drop(0)
df_van.head()

,title,price,year,kms,city,year,doors,seats,power,color,...,length,width,trunk_vol,max_speed,urban_cons,xtrurban_cons,mixed_cons,weight,tank_vol,acceleration
1,Fiat Fiorino Comercial Fiorino Combi 1.3mjt 5p...,6.500€,2015,120.133 km,75 cv en Alicante,Manual,5 puertas,5,75 cv,Blanco,...,386 cm,172 cm,0 l,157 km/h,"5,7 l","3,8 l","4,5 l",1.300 kg,45 l,"0,0 s"
2,Renault Kangoo Z.e. Fg.,5.929€,10/2012,82.001 km,60 cv en Asturias,"Directo, sin caja de cambios",3 puertas,2,60 cv,Amarillo,...,421 cm,183 cm,0 l,130 km/h,"0,0 l","0,0 l","0,0 l",1.410 kg,0 l,"20,3 s"
3,Citroen Berlingo Piso Cabina 1.6hdi 90,7.260€,2015,120.000 km,90 cv en Vizcaya,Manual,2 puertas,2,90 cv,Blanco,...,424 cm,181 cm,0 l,160 km/h,"6,0 l","5,0 l","5,4 l",1.504 kg,60 l,"13,9 s"
4,Mercedes Vito Furgón 111cdi Larga,16.488€,2019,36.257 km,114 cv en Sevilla,Manual,4 puertas,2,114 cv,Blanco,...,514 cm,193 cm,0 l,0 km/h,"7,9 l","5,6 l","6,4 l",1.761 kg,57 l,"0,0 s"
5,Renault Kangoo Z.e. Fg.,6.413€,10/2013,83.001 km,60 cv en Asturias,"Directo, sin caja de cambios",3 puertas,2,60 cv,Amarillo,...,421 cm,183 cm,0 l,130 km/h,"0,0 l","0,0 l","0,0 l",1.410 kg,0 l,"20,3 s"

Exporting DataFrames

In [47]:
print(len(df_used), len(df_km0),
      len(df_small), len(df_medium), len(df_big),
      len(df_fam), len(df_minivan), len(df_offroad),
      len(df_sports), len(df_van)
     )

9999 9989 2818 9998 9989 3056 8430 9951 5641 5662

In [48]:
output_used = 'data/used_cars.csv'
output_km0 = 'data/km0_cars.csv'

output_small = 'data/small_cars.csv'
output_medium = 'data/medium_cars.csv'
output_big = 'data/big_cars.csv'
output_fam = 'data/fam_cars.csv'
output_minivan = 'data/minivan_cars.csv'
output_offroad = 'data/offroad_cars.csv'
output_sports = 'data/sports_cars.csv'
output_van = 'data/van_cars.csv'

In [50]:
df_used.to_csv(output_used, index=False)
df_km0.to_csv(output_km0, index=False)

df_small.to_csv(output_small, index=False)
df_medium.to_csv(output_medium, index=False)
df_big.to_csv(output_big, index=False)
df_fam.to_csv(output_fam, index=False)
df_minivan.to_csv(output_minivan, index=False)
df_offroad.to_csv(output_offroad, index=False)
df_sports.to_csv(output_sports, index=False)
df_van.to_csv(output_van, index=False)